In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Carregar dados
df = pd.read_csv('D:/Roger Quintiliano/Downloads/train.csv')
test_data = pd.read_csv('D:/Roger Quintiliano/Downloads/test.csv')

# Selecionar colunas relevantes
relevant_columns = df[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Age']]

# Separar dados com e sem valores nulos
df_non_null = relevant_columns.dropna() # Sem valores nulos na coluna Age
df_null = relevant_columns[relevant_columns['Age'].isnull()]

# Converter 'Sex' para valores num√©ricos 
df_non_null.loc[:, 'Sex'] = df_non_null['Sex'].map({'male':0, 'female':1})
df_null.loc[:,'Sex'] = df_null['Sex'].map({'male': 0, 'female': 0})

# Preparar dados para treinamento
X_train = df_non_null.drop(columns=['Age'])
y_train = df_non_null['Age']
model = LinearRegression().fit(X_train, y_train)

# Prever idades para valores nulos
X_test = df_null.drop(columns=['Age'])
df.loc[df['Age'].isnull(), 'Age'] = model.predict(X_test)

In [2]:
import pandas as pd

# Salvar o DataFrame tratado em um novo arquivo CSV
df.to_csv('D:/Roger Quintiliano/Downloads/train_tratado.csv', index=False)

print("Planilha tratada salva com sucesso!")

Planilha tratada salva com sucesso!

In [3]:
train_data = pd.read_csv('D:/Roger Quintiliano/Downloads/train_tratado.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
women = df.loc[df.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [4]:
men = df.loc[df.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB